* {
    margin: 0;
    padding: 0;
}



/* Navigation Bar Styles    */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    border-bottom: 1px solid #e5e7eb;



}

.nav-center {
    display: flex;
    gap: 30px;
}
.nav-center a {
    text-decoration: none;
    color: #374151;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}
.nav-right button {
    padding: 10px 20px;
    background-color: #30B868;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}
.nav-right button:hover {
    background-color: #6a812b;
}                       

/*hero section styles*/

.hero {
    height: 520px;
    display: flex;
    align-items: center;
    background-image: url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.hero-content {
    margin: 0 auto;
    max-width: 700px;
}

.badge {
    background: #e5f7ed;
    color: #16a34a;
    display: inline-block;
    padding: 6px 14px;
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: 14px;
}

.hero h1 {
    font-size: 48px;
    color: white;
    margin-bottom: 15px;
}

.hero span {
    color: #22c55e;
}

.hero p {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;
}

.hero-buttons {
    display: flex;
    gap: 15px;
}

.primary {
    background: #16a34a;
    color: white;
    padding: 12px 22px;
    border: none;
    border-radius: 6px;
}

.secondary {
    background: transparent;
    border: 1px solid #cbd5e1;
    color: white;
    padding: 12px 22px;
    border-radius: 6px;
}

/* card section styles */


.cards-section {
    padding: 80px 80px;
}

.cards-section h2 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: #001931;
    text-align: center;
    margin-bottom: 15px;
}

.cards-section p {

    text-align: center;
    color: #627382;
    font-size: 16px;   
    font-family: 'Inter', sans-serif;
    margin-bottom: 40px;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.card {
    align-items: center;
    background-color: #f9fafb;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
    padding: 30px;
    width: calc(25% - 20px);
}

.card-icon {
    margin: 0 auto;
    background-color: #F95555;
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 50%;
}
.card-icon img {
    width: 24px;
    height: 24px;
    margin: 13px;
}
.card h3 {
    font-family: 'Inter', sans-serif;
    color: #001931;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.card p {
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

}


/* solution section styles */
.solution-section {
    display: flex;
    padding: 70px 70px;
    gap: 40px;
}

.solution-right{
 padding-top: 70px;

}

.solution-right h4 {
    font-family: 'Inter', sans-serif;
    color: #30B868;
    font-weight: 500;
    margin-bottom: 10px;
}

.solution-right h2 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: #001931;
    margin-bottom: 20px;
}

.solution-right p {
    font-family: 'Inter', sans-serif;
    color: #627382;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
    max-width: 600px;
}
.solution-right ul {
    list-style-type: none;
}

.solution-right li {
    margin-bottom: 15px;
    font-family: 'Inter', sans-serif;
    color: #627382;
}   
.solution-right li img {
  margin: 0 10px  -5px 0;
}   