* {
    margin: 0;
    padding: 0;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    /* border-bottom: 1px solid #e5e7eb; */



}

.nav-center {
    display: flex;
    gap: 30px;
}
.nav-center a {
    text-decoration: none;
    color: #374151;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}
.nav-right button {
    padding: 10px 20px;
    background-color: #30B868;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}
.nav-right button:hover {
    background-color: #6a812b;
}                       