* {
    margin: 0;
    padding: 0;
}



/* Navigation Bar Styles    */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    border-bottom: 1px solid #e5e7eb;



}

.nav-center {
    display: flex;
    gap: 30px;
}
.nav-center a {
    text-decoration: none;
    color: #374151;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}
.nav-right button {
    padding: 10px 20px;
    background-color: #30B868;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}
.nav-right button:hover {
    background-color: #6a812b;
}                       

/*hero section styles*/

.hero {
    height: 520px;
    display: flex;
    align-items: center;
    background-image: url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.hero-content {
    margin: 0 auto;
    max-width: 700px;
}

.badge {
    background: #e5f7ed;
    color: #16a34a;
    display: inline-block;
    padding: 6px 14px;
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: 14px;
}

.hero h1 {
    font-size: 48px;
    color: white;
    margin-bottom: 15px;
}

.hero span {
    color: #22c55e;
}

.hero p {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;
}

.hero-buttons {
    display: flex;
    gap: 15px;
}

.primary {
    background: #16a34a;
    color: white;
    padding: 12px 22px;
    border: none;
    border-radius: 6px;
}

.secondary {
    background: transparent;
    border: 1px solid #cbd5e1;
    color: white;
    padding: 12px 22px;
    border-radius: 6px;
}


